body
{
font-family: Raleway, sans-serif;  
margin-top: 50px;
}

/*LOGO ET MENU DE NAVIGATION*/

nav img
{
width: 100px;
margin-left: 40px;
}

nav , ul 
{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

nav p 
{display: none;}

ul
{
display: flex;
list-style-type: none;
}

li
{margin-right: 60px;}

a
{
color: #0065FC;
font-size: 14px;
text-decoration: none;
}

li a 
{color: black;}

li i a
{
border-top: solid;
padding-top: 45px;
color: #0065FC;
font-style: normal;
}

li strong a
{color: #0065FC}

header h1
{
font-weight: bold;
font-size: 1.1em;
margin-left: 50px;
}

header h2
{
position: relative;
margin-left: 50px;
font-size: small;
font-weight: lighter;
}

/*BARRE DE RECHERCHE*/

form button[type="submit"]
{
margin: 20px 0 0 50px;
height: 50px;
width: 50px;
border: none; 
border-radius: 20px 0 0 20px ;
}

form input[name="mrs_13"]
{
height: 50px;
width: 230px;
border: none;
position: relative;
left: -5px;
font-weight: bold;
color: black;
align-items: center;
font-size: 15px;
color: white;
}

form button[class=Desktop]
{
height: 50px;
width: 130px;
border: none;
left: -10px;
border-radius: 0 20px 20px 0;
color: #f2f2f2;
font-size: 15px;
background-color:#0065FC;
}

form button[class=Responsive]
{visibility: hidden;}

/*FILTRE "TYPE DE LOGEMENT"*/

.filter
{
margin-top: 30px;
width:935px; 
height: 55px;
display: flex;
justify-content: space-between;
cursor: pointer;
}

.filter h1
{
font-size: 1.1em;
margin-left: 50px;
}

.filter i
{
height: 50px;
width: 50px;
border-radius: 50%;
background-color: #deebff;
color: #0065FC;
margin-left: -7px;
font-size: 15px;
display: flex;
justify-content: center;
align-items: center;
}

.filter button
{
border-radius: 25px;
display: flex;
justify-content: flex-end;
align-items: center;
background-color: white;
border-style: solid;
border-color: rgb(236, 234, 234)
}

.filter :hover 
{
background-color: #f2f2f2;
border-color: grey;
transition: 0.5s ;
}

.filter b
{
font-size: 15px;
border-color: #f2f2f2 ;
text-decoration: none;
margin-right: 40px;
}

.info i
{  
border:solid #f2f2f2;
width: 25px;
height: 25px;
border-radius: 50%;
font-size: small;
color: #0065FC;
display: flex;
justify-content: center;
align-items: center;
margin: 8px 15px 0 0;
}

.info
{
margin: 20px 0 20px 40px ;
display: flex;
justify-content: flex-start;
}

/*HEBERGEMENTS A MARSEILLE */

section
{
display: flex;
justify-content: space-between;
}

article
{
height: 635px; 
width: 885px;
background-color: #f2f2f2;
border-radius: 3%;
padding-left: 40px;
margin-left: 50px;
}

h4
{
margin-top: 300px;
}

.square_cannebiere , .square_port , .square_mouette , .square_mer , .square_panier , .square_amina
{
height: 200px;
width: 254px;
background-color: white;
border-radius: 7px; 
padding: 4px 0 0 4px;
}

article img
{
display: flex;
align-items: center;
height: 115px ;
width: 250px ;
border-radius: 10px 10px 0 0;
object-fit: cover;
}

article a
{
text-decoration: none;
}

.name
{
font-weight: bold;
color: black;
font-size: 14px;
margin-left: 10px;
}

.price
{
color: black;
font-size: 12px;
margin-left: 10px;
}

.stars 
{
display: flex;
font-size: 12px;
list-style-type: none;
color: #0065FC;
padding-left: 10px;
}

#heb_13
{
height: 205px;
width: 865px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.square_cannebiere ,.square_port ,.square_mouette
{
margin-bottom: 40px;
margin-right: 30px
}

.square_mer , .square_panier , .square_amina
{
margin-right: 30px;
}


/*******************************************************

/*LES PLUS POPULAIRES*/

aside
{
height: 635px; 
width: 425px;
border-radius: 3%;
}

#p_pop
{
background-color: #f2f2f2;
margin-right: 50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.topofpop
{
display:flex;
justify-content: space-around;
}

#p_pop i[class="fas fa-chart-line"]
{
margin-top: 20px;
margin-left: 150px;
font-size: 25px;
}

.rectangle
{
display: flex;
flex-direction: column;
align-items: center;
margin-top: -90px;
}

.rectangle_soleil , .rectangle_coeur , .rectangle_bleublanc
{
display: flex;
flex-direction: row;
margin: 10px 0px 10px 0;
padding: 5px;
border-radius: 10px;
height: 140px;
width: 350px;
background-color: white;
}

.rectangle img
{
height: 140px;
width: 140px;
border-radius: 10px 0 0 10px;
object-fit: cover;
}

.rectangle .text 
{
color: black;
margin-left: 15px;
font-size: 1.3em;
margin-top: -15px;
}

.rectangle .stars
{
color: #0065FC;
margin-left: -10px;
}


/*ACTIVITES A MARSEILLE*/
#act_13title
{
margin: 50px 0 0 50px;
}

.act_13 
{
margin: 20px 0 0 50px;
height: 452px;
width: 1350px;
}

.container h5
{
padding-left: 20px;
}

.container
{
display: flex;
justify-content: space-around;
}

.container .vieux_port
{
height: 450px;
width: 309px;
box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);/*pris sur le code du prof*/
border-radius: 20px;
}

.container .calanques
{
height: 450px;
width: 309px;
box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
border-radius: 20px;
}

.container .vieux_port img
{
height: 390px;
width: 305px;
border-radius: 20px 20px 0 0;
padding-left: 3px;
object-fit: cover;
}

.container .calanques img
{
height: 390px;
width: 305px;
border-radius: 20px 20px 0 0;
padding-left: 3px;
object-fit: cover;
}

.bis_1
{
margin-left: 45px;
margin-right: 45px;
}
.bis_2
{
margin-left: 45px;
}

.container .bis_1 .pomegue
{
height: 250px;
width: 300px;
border-radius: 20px;
box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
}

.container .bis_1 .frioul
{
height: 175px;
width: 300px;
border-radius: 20px;
box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
margin-top: 27px;

}

.container .bis_2 .n_d 
{
height: 203px;
width: 303px;
border-radius: 20px;
box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
}

.container .bis_2 .longchamp
{
height: 220px;
width: 301px;
border-radius: 20px;
box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
margin-top: 30px;
}

.container .bis_1 .pomegue img
{
height: 180px;
width: 300px;
border-radius: 20px 20px 0 0;
object-fit: cover;
}

.container .bis_1 .frioul img
{
height: 110px;
width: 300px;
border-radius: 20px 20px 0 0;
object-fit: cover;
}

.container .bis_2 .n_d img
{
height: 141px;
width: 303px;
border-radius: 20px 20px 0 0;
margin-left: 2px;
margin-top: 3px;
object-fit: cover;
}

.container .bis_2 .longchamp img
{
height: 161px;
width: 302px;
border-radius: 20px 20px 0 0;
margin-top: 4px;
object-fit: cover;
}

/*FOOTER ancien code */

footer
{
margin-top: 60px ;
background-color:#f2f2f2;
display: flex;
justify-content: flex-start;   
}

footer
{position: absolute;
left: 0px;
width: 100%;}

footer p
{
font-size: smaller ;
}

footer h6
{
font-size: medium;
}

#a_propos
{
margin-left: 50px;
}

#hebergement
{
margin-left: 200px;
}

#assistance
{
margin-left: 300px;
}


/*

footer

{background-color: #f2f2f2;
width: 100%;
height: 200px;
display: flex;
}

footer
{
position:absolute;
left: 0px;
margin-top: 60px;
}

ol
{
list-style-type: none;
margin-left: 0px;
}

ol li b a 

{margin-left: 0px;
background-color: aqua;
width: 440px;
height: 150px;

}

ol li

{
    background-color: yellow;
    margin-left: 20px;
    font-size: 1.1em;
}


/*PIED DE PAGE ***************************

.piedpage
{
width: 1440px;
height: 200px;
margin-top: 60px ;
background-color:#f2f2f2;
display: flex;
justify-content: flex-start;  
}

.piedpage p
{font-size: smaller ;}

.piedpage h6
{
font-size: medium;
margin-bottom: 0;
}

.a_propos
{margin-left: 50px;}

.hebergement
{margin-left: 200px;}

.assistance
{margin-left: 300px;}


/*BREAKPOINTS DES MEDIA QUESRIES 
/*************** Version Desktop *************
@media only screen and (max-width: 1023px) {}
/*************** Version tablette ************
@media only screen and (max-width: 960px) {}
    /*********** Version Mobile *****
@media only screen and (max-width: 650px) {}
@media only screen and (max-width: 503px) {}
@media only screen and (max-width: 386px) {}
*/

/*1ERE TRANSITION = FORMAT TABLETTE "PAYSAGE"*/
@media only screen and (max-width: 1023px) 
{

    form button[type="submit"]
    {margin-left : 45px}

    .filter h1
    {
    position: relative;
    left: -2px;
    }

     section   
    {
    display: flex;
    flex-direction: column-reverse
    }

    .topofpop
    {
    width: 400px ;
    height: 40px;
    position: absolute;
    left: 40px;
    }
    
    #p_pop i[class="fas fa-chart-line"]
    {
    visibility: hidden;
    }

/*IMPORTER UNE FLECHE ET LA PLACER EN AHUTE à DROITE DE LA DIV */

.rectangle

    {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1225px;
    height: 200px;
    margin-top: 60px ;
    margin-left: 30px;
    margin-right: 40px;

    }

    .rectangle_soleil ,
    .rectangle_coeur ,
    .rectangle_bleublanc
    { 
    width: 270px;
    height: 150px;
    }


    .rectangle_soleil img ,
    .rectangle_coeur img ,
    .rectangle_bleublanc img

    { width: 75px;
    height: 150px;
    }


    aside , #p_pop
    {
    background-color:#f2f2f2;
    width: 1023px;
    height: 400px;
    margin-left: -10px;
    border-radius: 0%;

    }


    /*****HEBERGEMENT A MARSEILLE******/
    article 
    {
    width: 1024px;
    height: 600px; 
    }       

    article , #heb_13
    {
    margin-top: 30px;
    margin-left: 2px;
    background-color: white;
    }
        

    article img
    {
    width: 248px ;
    object-fit: cover;
    margin-left: -1px;
    border-radius: 10px;
    } 

    .square_cannebiere , .square_port , .square_mouette , .square_mer , .square_panier , .square_amina
    {
    width: 250px;
    margin-bottom: 55px;
    margin-right: 30px;   
}

    /* Activites à Marseille*/

    #act_13title
    {
        margin-top: 30px;
    margin-left: 45px;
    }

    .act_13 
    {
    height: 600px;
    width: 1024px;
    display: flex;
    margin-left: -15px;
    }

    .container
    {
        display: flex;
        flex-wrap: wrap;
    }

    .container .vieux_port ,
    .container .calanques ,
    .container .bis_1 .pomegue ,
    .container .bis_1 .frioul ,
    .container .bis_2 .n_d ,
    .container .bis_2 .longchamp
    {
    height: 250px ;
    width: 300px;
    box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
    border-radius: 20px;
    margin-left: 35px;
    }


    .container .vieux_port img ,
    .container .calanques img ,
    .container .bis_1 .pomegue img ,
    .container .bis_1 .frioul img ,
    .container .bis_2 .n_d img ,
    .container .bis_2 .longchamp img
    {
    height: 200px;
    width: 298px;
    border-radius: 20px 20px 0 0;
    padding-left: 3px;
    object-fit: cover;
    }

    .bis_1 ,
    .bis_2
    {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
    }

    .container .bis_2 .longchamp ,
    .container .bis_1 .frioul 
    {
        margin-top: 0px;
    }

}

/*2EME TRANSITION = FORMAT TABLETTE "PORTRAIT"*/
@media only screen and (max-width: 960px) 
/* 1.Suppression des espaces entre les types de logements pour une meilleur transition*/
{    
    .filter
    {
    width: 800px; 
    height: 50px;
    margin-left: 35px;
}

    .filter h1
    {margin-left: 10px;}

/*
    #p_pop i[class="fas fa-chart-line"]
    {
    visibility: hidden;
    }
*/
    .rectangle
    {   
    display: flex;
    flex-direction: row;
    flex-wrap:wrap}

    .rectangle_soleil ,
    .rectangle_coeur ,
    .rectangle_bleublanc
    { 
    width: 570px;
    height: 150px;
    }

    .rectangle_soleil img ,
    .rectangle_coeur img ,
    .rectangle_bleublanc img

    { width: 175px;
    height: 150px;
    }

    aside , #p_pop
    {
    background-color:#f2f2f2;
    width: 100%;
    height: 650px;
    }

    /*Hebergements à Marseille*/

    article 
    {
    width: 1024px;
    height: 600px;    
    }       

    article , #heb_13
    {
    margin-left: 2px;
    background-color: white;
    }
        

    article img
    {
    width: 300px ;
    object-fit: cover;
    margin-left: -1px;
    border-radius: 10px;
    } 

    .square_cannebiere , .square_port , .square_mouette , .square_mer , .square_panier , .square_amina
    {
    width: 400px;
    margin-bottom: 1px;
    margin-right: -95px;} 


    h4

    {visibility: hidden;}

    /*Activites à Marseille*/

    #act_13title
    {
    margin-top: 160px;
    margin-left: 45px;
    }

    .act_13 
    {
    height: 600px;
    width: 800px;
    display: flex;
    margin-left: 5px;
    }

    .container
    {
    display: flex;
    flex-wrap: wrap;
    }

    .container .vieux_port , .container .calanques , .container .bis_1 .pomegue ,
    .container .bis_1 .frioul , .container .bis_2 .n_d , .container .bis_2 .longchamp
    {
    height: 250px ;
    width: 210px;
    box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);
    border-radius: 20px;    
    }


    .container .vieux_port img , .container .calanques img ,
    .container .bis_1 .pomegue img , .container .bis_1 .frioul img ,
    .container .bis_2 .n_d img , .container .bis_2 .longchamp img
    {
    height: 200px;
    width: 209px;
    border-radius: 20px 20px 0 0;
    padding-left: 3px;
    object-fit: cover;
    }

    .bis_1 ,
    .bis_2
    {
    margin-right: 50px;
    display: flex;
    flex-direction: row;
    }

    .container .bis_2 .longchamp ,
    .container .bis_1 .frioul 
    {
        margin-top: 0px;
    }

}

 
/*3EME TRANSITION*/
@media only screen and (max-width: 650px) 
/*Point de rupture ideale pour la barre uderline*/
{
/*Logo et menu de navigation*/
    nav 
    {margin: -35px 0 0 -15px}

    nav p 
    {
    margin-right: 0px;
    color: #0065FC;
    font-weight : bold ;
    display: inline;    
    }
   
    .slogan
    {border-top: 3px solid #0065FC;
    margin-left: -10px;
    margin-right: 250px;}



    ul
    {height: 25px;
    margin-bottom: 1px;
    margin-top: 20px;}
 
    li
    {margin-left: 25px;}
      
    li strong a
    {visibility: hidden;}
    
    li i a
    {
    border-top: none;    
    font-style: normal;
    }
    
    header h1
    {
    width: 300px;
    height: 40px;
    font-weight: bolder;
    font-size: 1.2em;
    margin: 35px 0 30px 25px;
    }
    
    header h2
    {
    font-weight: normal;
    margin: 15px 0 10px 25px;   
    }
/*Bouton de recharche */

    form button[type=submit]
    {
    margin: 20px 0 0 25px;
    
    }
    form button[class=Desktop]
    {
    display: none;
    }
    form button[class=Responsive]
    {   
    height: 50px;
    width: 50px;
    border: none;
    position: relative;
    left: -20px;
    border-radius: 30%;
    color: #f2f2f2;
    font-size: 15px;
    background-color: #0065FC; 
    visibility: visible;}


/*Filtres types de logements*/

.filter h1
{
    margin-right: 2px;
}
.filter
{
width: 430px;
margin-bottom: 75px;
    
display: flex;
    flex-flow: wrap;

/*
    .filter  h1
    {
    width: 55px; 
    height: 25px;  
    margin-left: 35px; }
    
    .filter button
    {    
    border-style: solid;
    border-color: rgb(212, 211, 211);
    }

    .filter :hover 
    {
    border-style: dashed;
    border-color:#deebff;
    transition: 0.5s ;
    }

/*POINT INFO*/
    .info
    {
    width: 360px;
    height: 55px;
    margin: 10px 0 50px 35px ;
    
    }
}

/*4EME TRANSITION*/
@media only screen and (max-width: 500px) 
{  
    
/*Les plus populaires*/

    section
    {
    display: flex;
    flex-direction: column-reverse;
    margin-left: -15px;
    margin-right: 20%;    
    }
       
    aside , #p_pop
    {
    border-radius: 0%;
    background-color:#f2f2f2;
    height: 590px;}
    
    .topofpop h3
    {background-color: yellow ;
    margin-right: px;}

     [class="fas fa-chart-line"]
    {background-color: aqua;
        margin-right: -50px;
    }

    .rectangle_soleil , .rectangle_coeur , .rectangle_bleublanc
    {box-shadow: 3px 4px 3px 1px rgba(196, 196, 196, 0.541);}
    
    h3
    { 
    position: relative;
    bottom: -5px ;
    right: 90px ;
    top:
    }
    
    /*Hébergements à Marseille*
    #heb_13
    {
    width: 375px;
    height: 1335px;
    position: absolute;
    left: 25px;
    }
    
    h4
    {        
    background-color: tomato;
    position: absolute;
    left : 50px
    }
   
/*Activités à Marseille*
    #act_13title h3
    {
    margin-left: 60px;
    margin-bottom: 25px;
    margin-top: 110px ;
    }

    .container
    {
    width: 375px;
    height: 1360px;
    display: flex;
    flex-direction: column;
    flex-direction: column;    
    }

    .container .vieux_port , .container .calanques , .container .bis_1 .pomegue , .container .bis_1 .frioul , .container .bis_2 .n_d , .container .bis_2 .longchamp
    {
    width: 340px;
    height: 200px;
    margin-left: -35px;
    }

    .container .vieux_port img , .container .calanques img , .container .bis_1 .pomegue img , .container .bis_1 .frioul img ,
    .container .bis_2 .n_d img , .container .bis_2 .longchamp img  
    {
    width: 340px;
    height: 140px;
    object-fit: cover;
    }

    .bis_1, .bis_2
    {
    margin-left: 3px;
    }
/*


footer
{background-color: #f2f2f2;
position: relative;
left: -75px;
}

ol
{list-style-type: none;
margin-top: 50px;
}



/*

    
    .piedpage
    {
    background-color: #f2f2f2;
    display: block;
    position: absolute;
    left: -1px;  
    }

    .hebergement
    {
    background-color: #f2f2f2;
    margin-left: 1px;
    text-align: justify;
    }

    .assistance
    {
    background-color: #f2f2f2;
    margin-left: 1px;
    }
}
    
    /*
    footer
    {
   display: block;
   background-color: white;
   position: absolute;
   left: 35px;}
    
    footer p
    {}
    
    #a_propos
    {
    margin-left: 0px;
    }
    
    
    
    
}    

